body{
  background-color:#f4f4f4;
  color:#555555;

  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  line-height:1.6em;
  margin:0;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;

}
.container2{
  padding:0;
  height: 250px;
  margin:auto;
  overflow:hidden;

}

#Main-header{
  background-color:PaleTurquoise;
  color:#fff;
}
#navigation{
  box-sizing: border-box;
  height: 25px;
  padding: 0;
  background-color: #333;
  color:#fff;
}
#navigation u1{

  padding:0;
  list-style: none;
}

#navigation li{
  display:inline;
}
#navigation a{

  color:#fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 5px;
}

#mainspaceheader{
  background-image:url('../MyPage/b7.jpg');
  background-position: center;
  height: 235px;
  margin-bottom: 30px;
  text-align: center;

}

#mainspaceheader h1{
  color:orange;
  font-size: 25px;
}
#cicleface
{

  display: flex;
  justify-content: center;
  align-items: center;
  color:black;


}

#mainspace{
  background: white;
  float: left;
  width: 70%;
  height: 425px;
  padding:0 30px;
  box-sizing: border-box;
}

#sidebar{
  float: right;
  width: 30%;
  height: 425px;
  background: grey;
  color:white;
  padding:10px;
  box-sizing: border-box;
}

#footer{

  background: black;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;

 }

.guy{
  padding-top: 15px;
  border-radius: 50%;
  width: 200px;
  padding: 20px;
  height: 200px;
}
