body{
  background-color:SteelBlue;
  color:#555555;

  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  line-height:1.6em;
  margin:0;
}

.container{

  width:95%;
  margin:auto;
  overflow:hidden;

}
.container2{
  padding:0;
  height: 250px;
  margin:auto;
  overflow:hidden;

}

h2{
  font-family: 'Playfair Display', serif;
  color:black;
  font-size:35px;
  line-height:1.6em;
}

h3{
  font-family: 'Playfair Display', serif;
  color:black;
  font-size:25px;
  line-height:1.6em;
  border-bottom: double;

}

h4{
  font-family: 'Playfair Display', serif;
  border-bottom: double;
  color:black;
  font-size:22px;
}



#Top-Header{
  background-color:SteelBlue;
  color:white;
}

#navigation{
  box-sizing: border-box;
  height: 25px;
  padding: 0;
  background-color: #333;
  color:#fff;
}

#navigation u1{

  padding:0;
  list-style: none;
}

#navigation li{
  display:inline;

}
#navigation a{

  margin:auto;
  overflow:hidden;
  color:#fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 25px;
}

#cicleface
{

  display: flex;
  justify-content: center;
  align-items: center;
  color:black;


}
.guy{
  padding-top: 15px;
  border-radius: 50%;
  width: 200px;
  padding: 20px;
  height: 200px;
}

#mainspaceheader{
  background-image:url('../MyPage/Assets/b10.jpg');
  background-position: center;
  height: 250px;
  margin-bottom: 30px;
  text-align: center;

}
#about-me{
  overflow:hidden;
  background: white;
  float: left;
  width: 70%;
  height: 515px;
  padding:0 30px;
  box-sizing: border-box;
}

#sidebar{
  overflow:hidden;
  float: right;
  width: 30%;
  height: 515px;
  background: LightSlateGray;
  color:black;
  padding:10px;
  box-sizing: border-box;
}


#footer{

  background: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;

 }



tr:first-child {
    text-align: left;

}​

th, td {
  padding-right: 14px;
  border-bottom: 1px solid #ddd;
}
